
<mat-accordion class="headers-align" multi>
    <mat-expansion-panel *ngIf="showUserPersonalData === true" [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title> Date Personale </mat-panel-title>
            <mat-panel-description>
                Nume, nr de telefon, email
                <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

       <app-user-data></app-user-data>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="userType == 'furnizor' || userType == 'ong'" [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title> Anunturile tale </mat-panel-title>
            <mat-panel-description>
                Anunturi postate de tine
                <mat-icon>date_range</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-user-posts></app-user-posts>
        <mat-datepicker #picker></mat-datepicker>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="userType == 'client'" [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title> Anunturi la care ai aplicat </mat-panel-title>
            <mat-panel-description>
                Vezi o lista cu aplicarile tale
                <mat-icon>date_range</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-user-bids></app-user-bids>
        <mat-datepicker #picker></mat-datepicker>
    </mat-expansion-panel>
</mat-accordion>
