<app-toolbar></app-toolbar>
<div class="container mx-auto px-5">

  <div [ngClass]="{'columns-2': (itemPositionsLayout | async) == 2, 'columns-1': (itemPositionsLayout | async) == 1}">
    <div>
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
    </div>

    <div *ngIf="model">
        <mat-card class="post-item mat-elevation-z0">
          <mat-card-header>
            <div mat-card-avatar class="bg-contain">
              <img class="bg-contain rounded-full" style="width: 40px;height: 40px;" mat-card-sm-image src="../../../assets/profile_no_image.png" alt="Photo">
            </div>
            <mat-card-title>{{model.user.firstName}} {{model.user.lastName}}</mat-card-title>
            <mat-card-subtitle>{{model.user.email}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>

        <div class="font-bold text-2xl ml-2">{{model.title}}</div>
        <div class="ml-2">
          {{model.description}}
        </div>
        <div class="mt-20" *ngIf="activeUser && activeUser.type=='client'">
          <button class="float-right w-full bg-blue-400" mat-raised-button (click)="bid()">Aplica</button>
        </div>
        <div class="mt-20" *ngIf="!activeUser || activeUser.type!='client'" matTooltip="Trebuie sa fiti logat cu un cont de client pentru a aplica.">
            <button class="float-right w-full bg-blue-400" mat-raised-button [disabled]="true">Aplica</button>
        </div>
    </div>
  </div>
</div>
