<mat-form-field appearance="outline" class="mr-6">
    <mat-label>Nume</mat-label>
    <input matInput />
</mat-form-field>

<mat-form-field appearance="outline" class="mr-6">
    <mat-label>Prenume</mat-label>
    <input matInput />
</mat-form-field>

<mat-form-field appearance="outline" class="mr-6">
    <mat-label>Telefon</mat-label>
    <input matInput />
</mat-form-field>

<mat-form-field appearance="outline" class="mr-6">
    <mat-label>Email</mat-label>
    <input matInput />
</mat-form-field>
<button mat-stroked-button>Salvare</button>