<form [formGroup]="form" (ngSubmit)="saveUserInfo()">
    <mat-form-field appearance="outline" class="mr-6">
        <mat-label>Nume</mat-label>
        <input matInput name="lastName" formControlName="lastName"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mr-6">
        <mat-label>Prenume</mat-label>
        <input matInput name="firstName" formControlName="firstName"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mr-6">
        <mat-label>Telefon</mat-label>
        <input matInput name="phone" formControlName="phone"/>
    </mat-form-field>

    <button mat-stroked-button type="submit">Salvare</button>
</form>
