<mat-grid-list [cols]="cols$ | async">
    <mat-grid-tile>
        <div>
              <mat-stepper orientation="vertical" [linear]=true #stepper>
                <mat-step [stepControl]="firstFormGroup">
                  <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Vreau sa fiu</ng-template>
                    <mat-form-field appearance="fill">
                        <mat-label>Alege</mat-label>
                        <mat-select formControlName="firstCtrl">
                            <mat-option value="option">Client</mat-option>
                            <mat-option value="option">Furnizor</mat-option>
                            <mat-option value="option">ONG</mat-option>
                        </mat-select>
                        <mat-hint align="end">
                           Alege tipul de utilizator
                        </mat-hint>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                  <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Detalii de inregistrare</ng-template>
                    <mat-form-field appearance="fill">
                      <mat-label>Address</mat-label>
                      <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                             required>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>Gata</ng-template>
                  <p>You are now done.</p>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                  </div>
                </mat-step>
              </mat-stepper>
              
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../assets/register_image.png" />
    </mat-grid-tile>
</mat-grid-list>