<mat-toolbar class="bg-white flex flex-row mat-elevation-z5 mb-4">
  <div class="basis-2/5 flex flex-row">
    <mat-icon class="mr-2" aria-hidden="false" aria-label="Example home icon">emoji_people</mat-icon>
    <span>SEDO</span>
<!--    <div>-->
<!--      <button (click)="onClickClient()" mat-flat-button>Client</button>-->
<!--      /-->
<!--      <button (click)="onClickSupplier()" mat-flat-button>Furnizor</button>-->
<!--      /-->
<!--      <button (click)="onClickONG()" mat-flat-button>ONG</button>-->
<!--    </div>-->
  </div>
  <div class="basis-3/5 flex flex-row items-center grow justify-end">
<!--    <form class="mt-6">-->
<!--        <mat-form-field class="mr-2" appearance="legacy">-->
<!--          <input matInput type="email" placeholder="E-mail">-->
<!--          <mat-icon class="scale-75" matSuffix>perm_identity</mat-icon>-->
<!--        </mat-form-field>-->
<!--        <mat-form-field appearance="legacy" color="primary">-->
<!--          <input matInput type="password" placeholder="Parola">-->
<!--          <mat-icon class="scale-75" matSuffix>https</mat-icon>-->
<!--        </mat-form-field>-->
<!--    </form>-->
    <div class="mr-2 flex gap-1.5">
      <button (click)="onClickLogin()" mat-stroked-button>AUTENTIFICARE</button>
    </div>
  </div>
</mat-toolbar>
